# EDA Tool Logs & Temporary Files
*.log
*.vcd
*.jou
*.pb
*.append
_stacktrace.json
.openlane/
build/
runs/

# Environment
.venv/
__pycache__/
.nix-node/
result

# Verilator & Build Artifacts
obj_dir/
sim_build/
formal/*/
!formal/*.sby
results.xml
*.dat
outputs/
