# EDA Tool Logs & Temporary Files
*.log
*.vcd
*.jou
*.pb
*.append
_stacktrace.json
.openlane/
build/
runs/
results.xml
.openlane/
*.dat

# Environment
venv/
.venv/
obj_dir*/
__pycache__/
.nix-node/
result

# Verilator & Build Artifacts
obj_dir/
sim_build/
formal/*/
!formal/*.sby
results.xml
*.dat
outputs/

# Block everything Verilator and Cocotb create
obj_dir/
sim_build/
__pycache__/
*.vcd
*.log
*.dat
results.xml
*.append
*.jou
*.pb

# C++ Build Artifacts (Verilator/GCC)
*.o
*.d
*.mk
*.gch
*.a

# Module-specific Verilator folders (Wildcard)
obj_dir*/
sim_build*/
formal/*/

# Folders to Ignore but keep local
sim/
reports/
syn/reports/
logs/

# Formal Verification
formal/*/
!formal/*.sby
